<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Image Search Abstraction Layer</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Image Search Abstraction Layer</h1>
      <div>This is the fourth project in API section on <a href="https://www.freecodecamp.org/challenges/image-search-abstraction-layer">freeCodeCamp</a>.</div>

      <h3>The user stories are:</h3>
      <ul>
        <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
        <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        <li>I can get a list of the most recently submitted search strings.</li>
      </ul>

      <h3>Examples of usage:</h3>

      <div class="example">
        <div class="input"><b>Input</b></div>
        <div class="output"><b>Output</b></div>
      </div>
      <div class="example">
        <div class="input">http://localhost:3000/</div>
        <div class="output">{}</div>
      </div>
      
    </div>
  </body>
</html>
